{% extends "@EasyAdmin/layout.html.twig" %}

{% block content %}
<div>
    <div>
        <h2>Image</h2>
    </div>
        <h4>Uploader des images</h4>
        <ol>
            <li> Cliquer sur -><i class"fst-italic" style="color:blue">Add Image</i></li>
            <li> Choisir une image -><i class"fst-italic">Choose File</i></li>
            <li> Choisir la catégorie -><i class"fst-italic">Catégorie</i></li>
            <li> Choisir l'ordre d'affichage dans la catégorie -><i class"fst-italic">Ordre d'affichage</i></li>
            <li> Remplir le <i class"fst-italic">Champ HTML "ALT"</i> avec une très courte description de l'image (référencement naturel)</li>
        </ol>

        <h4>Modifier une image</h4>
        <ol>
            <li> Cliquer sur -><i class"fst-italic" style="color:blue">Edit</i></li>
            <li> Choisir une image -><i class"fst-italic">Choose File</i></li>
            <li> Choisir la catégorie -><i class"fst-italic">Catégorie</i></li>
            <li> Choisir l'ordre d'affichage dans la catégorie -><i class"fst-italic">Ordre d'affichage</i></li>
            <li> Remplir le <i class"fst-italic">Champ HTML "ALT"</i> avec une très courte description de l'image (référencement naturel)</li>
        </ol>
    </div>
</div>











{% endblock %}