@font-face {
  font-family: 'Roboto Condensed';
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

    font-family:'Open Sans Condensed';
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Roboto+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
    
 
} 
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
  font-size: 1rem;
  
}

.content{
	flex: 1; /*#################################################     EXPLICATION   ############################*/
}




/*################################*/
/*############ HEADER ############*/
/*################################*/
.navbar-dark {
  background-color: #000000;
  opacity: 0.8;
  font-family:'Open Sans Condensed';
  color: white;

}
#headerContainer{
  background-color: rgb(0, 0, 0);
} 
#headerContainer_Logo{
    background-color: rgb(0, 0, 0);
    width: auto;
}

#headerContainer_Logo_Img{
  width: 95vw;
}

.headerContainer_Chevron{
  height: 15vh;
}

@keyframes moveUpDown {
  100% { transform: translate3d(0, 25px, 0); }
}
.headerContainer_Chevron_Img{
  width: 1.5rem;
  height: 1.5rem;
  animation: moveUpDown .8s infinite ease-in-out alternate;
}


/*################################*/
/*########### FOOTER #############*/
/*################################*/

.footerContainer{
    background-image: url('../../image/logofooter.png');
    background-size: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    min-height: 25vh;
}




/*#################################*/
/*########## SERVICES #############*/
/*#################################*/

#serviceContainer{
font-size: 1.25rem;
font-family:'Open Sans Condensed';
background-image: url('../../image/background/background-tree-wood-boards-texture-wooden-background-1370489-pxhere.com.jpg');
background-attachment: fixed;

}
.serviceContainer_Services{
  border-width: 2px;
  color: rgb(255, 255, 255);
  border-style: outset;
  border-color: rgb(255, 255, 255) ;
  background-color: rgb(0, 0, 0);
  transition: all 1.2s ease-in-out;
  overflow: hidden;
}
.serviceContainer_Services.containerGrow{
   transform: translateX(200px);
                                                 /*     MODIFER TAILLE ET TROUVER animation  
                                                */
}
/*################################*/
/*######## INFO_CONTAINER ########*/
/*################################*/
.infoContainer{
  font-family:'Open Sans Condensed';
  background-image: url('../../image/background/wall.jpg');
  background-size: contain;
 
}
.infoContainer_Opening{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  max-width: 55vw;
}

.infoContainer_Opening_Day{
float: left;

}
.infoContainer_Opening_OpenClose{
  float:right;

}
.infoContainer_storefrontContainer{
  text-align: center;
  
}
.infoContainer_storefrontContainer img{
  width: 70vw;
 }

 
/*################################*/
/*########## MAP GOOGLE ##########*/
/*################################*/
.infoContainer_mapContainer{
  width: 100vw;
  }  

.infoContainer_mapContainer_maps{
    width: 90vw;
  }
  
/*################################*/
/*########## PORTFOLIO ###########*/
/*################################*/
#portfolioContainer{
  background-image: url('../../image/background/rasage-traditionnel-ecologique-economique-compressor1.jpg');
}

.portfolio_ClientStyle_Img{
  max-width: 80vw;
  max-height: 80vh;
  width: auto;
  height: auto;

}
.portfolio_Title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  

/*#################################*/
/*######## BRAND CONTAINER ########*/
/*#################################*/

.brandContainer{
  font-family:'Roboto Condensed';
  color: #000000;
  background-color: rgb(22, 200, 206);
  height: 30vh;
  }
  
.brandContainer img{
  max-width: 15vw;
  max-height: 15vh;
  width: auto;
  height: auto;
}
                                /*###################################*/
                                /*########## MEDIA QUERIES ##########*/
                                /*###################################*/


@media screen and (min-width:576px) and (max-width: 767px){
  /*::::::::::::::::::::::::::::::::*/
  /*:::::::::: PORTOFOLIO ::::::::::*/
  /*::::::::::::::::::::::::::::::::*/
   
  .portfolio_ClientStyle_Img{
    max-width: 35vw;
    max-height: 35vh;
    width: auto;
    height: auto;
  
  }  
}


@media screen and (min-width:768px) and (max-width:992px){

  /*::::::::::::::::::::::::::::::::*/
  /*:::::::::::: HEADER ::::::::::::*/
  /*::::::::::::::::::::::::::::::::*/

  #headerContainer_Logo_Img{
  width: 60vw;
  }

  /*::::::::::::::::::::::::::::::::*/
  /*::::::: INFO_CONTAINER :::::::::*/
  /*::::::::::::::::::::::::::::::::*/

  .infoContainer_storefrontContainer img{
    width: 40vw;
   }

  /*::::::::::::::::::::::::::::::::*/
  /*:::::::::: PORTOFOLIO ::::::::::*/
  /*::::::::::::::::::::::::::::::::*/
   
  .portfolio_ClientStyle_Img{
    max-width: 45vw;
    max-height: 45vh;
    width: auto;
    height: auto;
  
  } 


} 






@media screen and (min-width:993px) and (max-width:1200px){
  /*::::::::::::::::::::::::::::::::*/
  /*:::::::::::: HEADER ::::::::::::*/
  /*::::::::::::::::::::::::::::::::*/

  #headerContainer_Logo_Img{
    width: 45vw;
  }




  /*::::::::::::::::::::::::::::::::*/
  /*:::::::::: MAP GOOGLE ::::::::::*/
  /*::::::::::::::::::::::::::::::::*/

  .infoContainer_mapContainer{
    width: 30vw;
  }
  .infoContainer_mapContainer_maps{
    width: 28vw;
  }
  /*::::::::::::::::::::::::::::::::*/
  /*:::::::::: SERVICES ::::::::::::*/
  /*::::::::::::::::::::::::::::::::*/   
 
  .infoContainer_storefrontContainer img{
    max-width: 30vw;
    max-height: 30vh;
    width: auto;
    height: auto;
   }

  /*::::::::::::::::::::::::::::::::*/
  /*:::::::::: PORTOFOLIO ::::::::::*/
  /*::::::::::::::::::::::::::::::::*/
   
  .portfolio_ClientStyle_Img{
    max-width: 30vw;
    max-height: 30vh;
    width: auto;
    height: auto;
  
  }
  
}   
 
@media screen and (min-width:1200px)and (max-width:1400px){

  /*::::::::::::::::::::::::::::::::*/
  /*:::::::::::: HEADER ::::::::::::*/
  /*::::::::::::::::::::::::::::::::*/

  #headerContainer_Logo_Img{
    width: 45vw;
  }

/*::::::::::::::::::::::::::::::::*/
/*::::::::: INFO_CONTAINER :::::::*/
/*::::::::::::::::::::::::::::::::*/
  .infoContainer_Opening{
    max-width: 25vw;
  }
  
  .infoContainer_storefrontContainer img{
    max-width: 35vw;
    max-height: 35vh;
    width: auto;
    height: auto;
   }
/*::::::::::::::::::::::::::::::::*/
/*:::::::::: MAP GOOGLE ::::::::::*/
/*::::::::::::::::::::::::::::::::*/

  .infoContainer_mapContainer{
    width: 35vw;
    
  }
  .infoContainer_mapContainer_maps{
    width: 35vw;
    }

 /*::::::::::::::::::::::::::::::::*/
 /*:::::::::: PORTOFOLIO ::::::::::*/
 /*::::::::::::::::::::::::::::::::*/
   
  .portfolio_ClientStyle_Img{
    max-width: 20vw;
    max-height: 20vh;
    width: auto;
    height: auto;
  
  }
  
  
  

}
@media screen and (min-width:1400px){

  /*::::::::::::::::::::::::::::::::*/
  /*:::::::::::: HEADER ::::::::::::*/
  /*::::::::::::::::::::::::::::::::*/

  #headerContainer_Logo_Img{
    width: 45vw;
  }

  /*::::::::::::::::::::::::::::::::*/
  /*::::::: INFO_CONTAINER :::::::::*/
  /*::::::::::::::::::::::::::::::::*/
  .infoContainer_Opening{
    max-width: 15vw;
  }

  .infoContainer_storefrontContainer img{
    max-width: 35vw;
    max-height: 35vh;
    width: auto;
    height: auto;
   }

  .infoContainer_mapContainer{
    width: 35vw;
    
  }
  .infoContainer_mapContainer_maps{
    width: 35vw;
    }

 /*::::::::::::::::::::::::::::::::*/
 /*:::::::::: PORTOFOLIO ::::::::::*/
 /*::::::::::::::::::::::::::::::::*/
   
  .portfolio_ClientStyle_Img{
    max-width: 25vw;
    max-height: 25vh;
    width: auto;
    height: auto;
  
  }
}




/*  width = largeur
    height = hauteur
    BOOTSRAP Breakpoints
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
    320px — 480px: Mobile devices
    481px — 768px: iPads, Tablets
    769px — 1024px: Small screens, laptops
    1025px — 1200px: Desktops, large screens
    1201px and more —  Extra large screens, TV 
  
    
*/
