@font-face {
  font-family: 'open_sans_condensedbold';
  src: url('../font/OpenSans-CondBold-webfont.woff');
  font-weight: normal;
  font-style: normal;

  font-family: 'open_sanscondensed_light';
    src: url('../font/OpenSans-CondLight-webfont.woff');
    font-weight: normal;
    font-style: normal;

    font-family: 'open_sansCnLtIt';
    src: url('../font/OpenSans-CondLightItalic-webfont.woff');
    font-weight: normal;
    font-style: normal;

    font-family: 'alexbrush-regular';
    src: url('../font/alexbrush-regular-webfont.woff2');
    font-weight: normal;
    font-style: normal;

    font-family: 'DancingScript_Regular';
    src: url('../font/DancingScript-Regular.otf');
    font-weight: normal;
    font-style: normal;

  

}
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
  font-size: 1rem;
}
.content{
	flex: 1; /*EXPLICATION*/
}

.nolist {
    list-style: none!important;
    list-style-type: none;
  }


/*################################*/
/*############ HEADER ############*/
/*################################*/
#headerContainer{
  background-color: rgb(170, 28, 28);
} 
#headerContainer_Logo{
    background-color: rgb(228, 220, 220);
    width: auto;
}

#headerContainer_Logo_Img{
  width: 95vw;
}

.headerContainer_Chevron{
  height: 15vh;
}

@keyframes moveUpDown {
  100% { transform: translate3d(0, 25px, 0); }
}
.headerContainer_Chevron_Img{
  width: 1.5em;
  height: 1.5em;
  animation: moveUpDown .8s infinite ease-in-out alternate;
}
/* TAILLE EM A MODIFIER 
 */


/*################################*/
/*########### FOOTER #############*/
/*################################*/

.footerContainer{
    background-image: url('../../image/logofooter.png');
    background-size: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    min-height: 25vh;
}
.footerContainer_Section{



}



/*#################################*/
/*########## PRESTATIONS ##########*/
/*#################################*/

#serviceContainer{
font-size: 1.25rem;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-image: url('../../image/background/floor-1846849_1920.jpg');
background-attachment: fixed;


}
.serviceContainer_Services{
  border-width: 4px;
  border-style: outset;
  border-top-color: rgb(0, 0, 0);
  border-bottom-color: rgb(255, 255, 255) ;
  background-color: rgb(223, 223, 223);
 /* background: -moz-linear-gradient(-45deg, #E1E1D3 0%, #F8FFFF 59%, #C8C1C1 100%);
  background: -webkit-linear-gradient(-45deg, #E1E1D3 0%, #F8FFFF 59%, #C8C1C1 100%);
  background: linear-gradient(135deg, #E1E1D3 0%, #F8FFFF 59%, #C8C1C1 100%);
   box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
 */ 
  box-shadow: 13px 12px 29px -2px rgba(70, 69, 69, 0.71);
  transition: all 1.2s ease-in-out;
  height: 5vh;
  overflow: hidden;
}
.serviceContainer_Services.containerGrow{
  height: 40vh;
                                                /*     MODIFER TAILLE ET TROUVER animation  
                                                */
}
/*################################*/
/*######## INFO_CONTAINER ########*/
/*################################*/
.infoContainer{
  background-color: darkgrey;
 
}
.infoContainer_storefrontContainer{
  text-align: center;
  
}
.infoContainer_storefrontContainer img{
  width: 70vw;
 }

 .fff{
 }
/*################################*/
/*########## MAP GOOGLE ##########*/
/*################################*/

.mapContainer{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.mapContainer iframe{
  left:0;
  top:0;
  height:30%;
  width:80%;
  position:absolute;
}


/*#################################*/
/*######## BRAND CONTAINER ########*/
/*#################################*/

.brandContainer{
  background-color: cadetblue;
  height: auto;
  }
  
.brandContainer img{
    width: 35vw;
    max-width: 100%;
    max-height: 100%;
}
/*###################################*/
/*########## MEDIA QUERIES ##########*/
/*###################################*/


@media screen and (min-width:481px) and (max-width: 768px){

  
}

@media screen and (min-width:769px) and (max-width:1024px){
  #headerContainer_Logo_Img{
  width: 60vw;
  }
  .infoContainer_storefrontContainer img{
    width: 20vw;
   }

} 
@media screen and (min-width:1024px){
  #headerContainer_Logo_Img{
    width: 45vw;
  }
  .infoContainer_storefrontContainer img{
    width: 15vw;
  }  
  #serviceContainer{
    height: 60vh;
    
  }  
  
}   
 




/* width = largeur
height = hauteur
    320px — 480px: Mobile devices
    481px — 768px: iPads, Tablets
    769px — 1024px: Small screens, laptops
    1025px — 1200px: Desktops, large screens
    1201px and more —  Extra large screens, TV 
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
    
@media screen and (min-width:480px){
  #headerLogo{
   width: 25vw;
  }
}
*/
