@font-face {
  font-family: 'open_sans_condensedbold';
    src: url('../../font/OpenSans-CondBold-webfont.woff');
    font-weight: normal;
    font-style: normal;

  font-family: 'open_sanscondensed_light';
    src: url('../font/OpenSans-CondLight-webfont.woff');
    font-weight: normal;
    font-style: normal;

    font-family: 'open_sansCnLtIt';
    src: url('../font/OpenSans-CondLightItalic-webfont.woff');
    font-weight: normal;
    font-style: normal;

    font-family: 'alexbrush-regular';
    src: url('../font/alexbrush-regular-webfont.woff2');
    font-weight: normal;
    font-style: normal;

    font-family: 'DancingScript_Regular';
    src: url('../assets/font/DancingScript-Regular.otf');
    font-weight: normal;
    font-style: normal;

    font-family: 'roboto_condensend_Regular';
    src: url('../../assets/font/roboto_condensed_regular.ttf');
    font-weight: normal;
    font-style: normal;

    font-family: 'roboto_condensend_light';
    src: url('../font/roboto_condensed_light.ttf');
    font-weight: normal;
    font-style: normal;

  

}
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
  font-size: 1rem;
  
}
.content{
	flex: 1; /*#################################################     EXPLICATION   ############################*/
}

.nolist {
    list-style: none!important;
    list-style-type: none;
  }


/*################################*/
/*############ HEADER ############*/
/*################################*/
.navbar-dark {
  background-color: #910000;
}
#headerContainer{
  background-color: rgb(0, 0, 0);
} 
#headerContainer_Logo{
    background-color: rgb(0, 0, 0);
    width: auto;
}

#headerContainer_Logo_Img{
  width: 95vw;
}

.headerContainer_Chevron{
  height: 15vh;
}

@keyframes moveUpDown {
  100% { transform: translate3d(0, 25px, 0); }
}
.headerContainer_Chevron_Img{
  width: 1.5rem;
  height: 1.5rem;
  animation: moveUpDown .8s infinite ease-in-out alternate;
}


/*################################*/
/*########### FOOTER #############*/
/*################################*/

.footerContainer{
    background-image: url('../../image/logofooter.png');
    background-size: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    min-height: 25vh;
}




/*#################################*/
/*########## SERVICES #############*/
/*#################################*/

#serviceContainer{
font-size: 1.25rem;
font-family:'Noto Sans';
background-image: url('../../image/background/floor-1846849_1920.jpg');
background-attachment: fixed;

}
.serviceContainer_Services{
  border-width: 4px;
  color: rgb(255, 255, 255);
  border-style: outset;
  border-top-color: rgb(0, 0, 0);
  border-bottom-color: rgb(255, 255, 255) ;
  background-color: rgb(0, 0, 0);
 
  transition: all 1.2s ease-in-out;
  height: 5vh;
  overflow: hidden;
}
.serviceContainer_Services.containerGrow{
  height: 40vh;
                                                /*     MODIFER TAILLE ET TROUVER animation  
                                                */
}
/*################################*/
/*######## INFO_CONTAINER ########*/
/*################################*/
.infoContainer{
  background-color: rgb(82, 139, 224);
 
}
.infoContainer_storefrontContainer{
  text-align: center;
  
}
.infoContainer_storefrontContainer img{
  width: 70vw;
 }

 
/*################################*/
/*########## MAP GOOGLE ##########*/
/*################################*/
.infoContainer_mapContainer{
  width: 100vw;
  }  

.infoContainer_mapContainer_maps{
    width: 90vw;
  }
  
/*################################*/
/*########## PORTFOLIO ###########*/
/*################################*/

.portfolio_ClientStyle_Img{
  max-width: 80vw;
  max-height: 80vh;
  width: auto;
  height: auto;

}
.portfolio_Title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  

/*#################################*/
/*######## BRAND CONTAINER ########*/
/*#################################*/

.brandContainer{
  background-color: cadetblue;
  height: 250vh;
  }
  
.brandContainer img{
    width: 15vw;
    max-width: 100%;
    max-height: 100%;
}
                                /*###################################*/
                                /*########## MEDIA QUERIES ##########*/
                                /*###################################*/


@media screen and (min-width:576px) and (max-width: 767px){
  /*::::::::::::::::::::::::::::::::*/
  /*:::::::::: PORTOFOLIO ::::::::::*/
  /*::::::::::::::::::::::::::::::::*/
   
  .portfolio_ClientStyle_Img{
    max-width: 35vw;
    max-height: 35vh;
    width: auto;
    height: auto;
  
  } 
  
}






@media screen and (min-width:768px) and (max-width:1024px){

  /*::::::::::::::::::::::::::::::::*/
  /*:::::::::::: HEADER ::::::::::::*/
  /*::::::::::::::::::::::::::::::::*/

  #headerContainer_Logo_Img{
  width: 60vw;
  }

  /*::::::::::::::::::::::::::::::::*/
  /*::::::: INFO_CONTAINER :::::::::*/
  /*::::::::::::::::::::::::::::::::*/

  .infoContainer_storefrontContainer img{
    width: 40vw;
   }

  /*::::::::::::::::::::::::::::::::*/
  /*:::::::::: PORTOFOLIO ::::::::::*/
  /*::::::::::::::::::::::::::::::::*/
   
  .portfolio_ClientStyle_Img{
    max-width: 45vw;
    max-height: 45vh;
    width: auto;
    height: auto;
  
  } 


} 






@media screen and (min-width:1025px) and (max-width:1200px){
  /*::::::::::::::::::::::::::::::::*/
  /*:::::::::::: HEADER ::::::::::::*/
  /*::::::::::::::::::::::::::::::::*/

  #headerContainer_Logo_Img{
    width: 45vw;
  }

  .infoContainer_storefrontContainer img{
    max-width: 30vw;
    max-height: 30vh;
    width: auto;
    height: auto;
   }


  /*::::::::::::::::::::::::::::::::*/
  /*:::::::::: MAP GOOGLE ::::::::::*/
  /*::::::::::::::::::::::::::::::::*/

  .infoContainer_mapContainer{
    width: 30vw;
  }
  .infoContainer_mapContainer_maps{
    width: 30vw;
  }
  /*::::::::::::::::::::::::::::::::*/
  /*:::::::::: SERVICES ::::::::::::*/
  /*::::::::::::::::::::::::::::::::*/   

  #serviceContainer{
    height: 50vw;
    
  }  

  /*::::::::::::::::::::::::::::::::*/
  /*:::::::::: PORTOFOLIO ::::::::::*/
  /*::::::::::::::::::::::::::::::::*/
   
  .portfolio_ClientStyle_Img{
    max-width: 30vw;
    max-height: 30vh;
    width: auto;
    height: auto;
  
  }
  
}   
 
@media screen and (min-width:1200px)and (max-width:1400px){

  /*::::::::::::::::::::::::::::::::*/
  /*:::::::::::: HEADER ::::::::::::*/
  /*::::::::::::::::::::::::::::::::*/

  #headerContainer_Logo_Img{
    width: 45vw;
  }

  .infoContainer_storefrontContainer img{
    max-width: 35vw;
    max-height: 35vh;
    width: auto;
    height: auto;
   }
/*::::::::::::::::::::::::::::::::*/
/*:::::::::: MAP GOOGLE ::::::::::*/
/*::::::::::::::::::::::::::::::::*/

  .infoContainer_mapContainer{
    width: 35vw;
    
  }
  .infoContainer_mapContainer_maps{
    width: 35vw;
    }

 /*::::::::::::::::::::::::::::::::*/
 /*:::::::::: PORTOFOLIO ::::::::::*/
 /*::::::::::::::::::::::::::::::::*/
   
  .portfolio_ClientStyle_Img{
    max-width: 20vw;
    max-height: 20vh;
    width: auto;
    height: auto;
  
  }
  
  
  

}
@media screen and (min-width:1400px){

  /*::::::::::::::::::::::::::::::::*/
  /*:::::::::::: HEADER ::::::::::::*/
  /*::::::::::::::::::::::::::::::::*/

  #headerContainer_Logo_Img{
    width: 45vw;
  }

  /*::::::::::::::::::::::::::::::::*/
  /*::::::: INFO_CONTAINER :::::::::*/
  /*::::::::::::::::::::::::::::::::*/

  .infoContainer_storefrontContainer img{
    max-width: 35vw;
    max-height: 35vh;
    width: auto;
    height: auto;
   }

  .infoContainer_mapContainer{
    width: 35vw;
    
  }
  .infoContainer_mapContainer_maps{
    width: 35vw;
    }

 /*::::::::::::::::::::::::::::::::*/
 /*:::::::::: PORTOFOLIO ::::::::::*/
 /*::::::::::::::::::::::::::::::::*/
   
  .portfolio_ClientStyle_Img{
    max-width: 25vw;
    max-height: 25vh;
    width: auto;
    height: auto;
  
  }
}




/* width = largeur
height = hauteur
    320px — 480px: Mobile devices
    481px — 768px: iPads, Tablets
    769px — 1024px: Small screens, laptops
    1025px — 1200px: Desktops, large screens
    1201px and more —  Extra large screens, TV 
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
    
*/
