<footer class="container-fluid footerContainer">
    <section class="footerSection"> 
        <div class="text-center mt-3">Suivez-nous</div>
        <div class="d-flex justify-content-evenly mt-3">
            <div><a href="{{'https://www.instagram.com/' }}"><img src="{{ asset('icon/instagram.svg') }}" alt="Notre Instagram" width="45" height="45" ></a></div>
            <div><a href="{{'https://fr-fr.facebook.com/pages/category/Hair-Salon/Latelier-2159799040919067/' }}"><img src="{{ asset('icon/facebook.svg') }}" alt="Notre Facebook" width="45" height="45"></a></div>
        </div>
    </section>
</footer>
