<header class="container-fluid" id="headerContainer">
    <div class="text-center" id="headerContainer_Logo">
        <img src="{{ asset('image/logo.png') }}" alt="logo l'Atelier Rouen" id="headerContainer_Logo_Img" >
    </div>
    <div class="text-center headerContainer_Chevron">
        <img class="headerContainer_Chevron_Img"src="{{ asset('assets/icons/chevron.png')}}"></i>
    </div> 
</header>